azure-ai-documentintelligence==1.0.0b4
RAGatouille
faiss-gpu-cu12==1.10.0
scikit-learn==1.5.2
scipy==1.14.1
sentence-transformers<3.0.0,>=2.2.2
tokenizers==0.20.3
tqdm==4.67.0
transformers==4.46.2
gliner==0.2.19
langchain-community==0.3.24
pymupdf==1.25.5
python-dotenv



