azure-ai-documentintelligence==1.0.0b4
transformers==4.46.2
faiss-gpu-cu12==1.10.0
langchain-community==0.3.1
gliner==0.2.16
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
pymupdf
